/* Custom content width */

.wy-nav-content {
    max-width:1000px; /*none or 1400*/
}

/* override table width restrictions */
.wy-table-responsive table td {
  /* !important prevents the common CSS stylesheets from overriding
     this as on RTD they are loaded after this stylesheet */
  white-space: normal !important;
}

.wy-table-responsive {
  overflow: visible !important;
}
